.article {
  margin: 0 auto;
  font-size: 1.2rem;
  margin-bottom: 3.5rem;

  & pre {
    border-radius: 4px;
    overflow-x: auto;
    border: 1px solid #dddddd;
    background: #f6f8fa;
    font-size: 0.8em;
  }

  & pre:not([data-language]) {
    padding: 1em;
    font-size: 0.85em;
  }

  & pre[data-language] {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  & :not(pre) > code {
    font-size: 0.85em;
    background: var(--code-block-color);
    border-radius: 0.25rem;
    padding: 0.125rem 0.25rem;
  }
  
  & > * {
    max-width: calc(min(760px, 100%));
    margin: 0 auto;
    margin-bottom: 1.8rem;
  }


  & > div[data-rehype-pretty-code-fragment] {
    max-width: calc(min(1000px, 100%));
    margin: 0 auto;
    margin-bottom: 1.8rem;
    font-size: 0.9em;
  }

  p img {
    max-width: calc(min(1000px, 100%));
    margin: 0 auto;
  }

  p > img + em {
    display: block;
    text-align: center;
    font-size: 1rem;
  }

  h1:first-child,
  h2:first-child {
    margin-bottom: 0.5rem;
    margin-top: 0;
    line-height: 1.2;
  }
  
  blockquote {
    border-left: 6px solid var(--text-disabled-color);
    padding: 0.5rem 1rem;
    background: var(--background-paper-color);
    font-size: 1.1rem;
  }
  
  blockquote p {
    margin: 0;
  }

  blockquote p:not(:last-child) {
    margin-bottom: 1em;
  }

  hr {
    border: none;
    border-top: 2px solid var(--text-disabled-color)
  }
  
}

.metadata {
  display: block;
  color: var(--text-secondary-color);
  font-size: 1rem;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  & > * {
    &:not(:last-child):after {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      content: "•";
      text-decoration: none;
      display: inline-block;
    }
  }

  & span img {
    vertical-align: top;
  }
}

.description {
  margin: 0;
  margin-top: 0.5rem;  
}

.tagLink {
  margin-right: 0.5rem;
  &:last-child {
    margin-right: 0;
  }
}

.bioNoWrap {
  white-space: nowrap;
}