.container {
  max-width: calc(min(760px, 100%));
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: 1rem;
  @media (width >= 600px) {
    font-size: 1.2rem;
  }
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.heading {
  margin: 0;
}

.subheading {
  margin: 0;
  font-weight: 500;
}

.listContainer {
  & p {
    line-height: 1.75;
  }
  & ul li {
    line-height: 1.75;
  }
}